$color-bg: linear-gradient(258.66deg, #9754FF -4.76%, #87B9FA 119.06%);
$color-bg-orange: linear-gradient(233.48deg, #F9A85D 12.64%, #FE5C73 107.8%);
$color-bg-pink: #B93CE8;
$color-bg-aqua: #87B9FA;

$color-white-50: #FFFFFF;
$color-white-100: #EFF6FF;
$color-white-150: #C2C2FC;
$color-white-300: #E0E0E0;
$color-white-700: #4F4F4F;

$color-light-blue-50: #97C1F7;
$color-light-blue-100: #878DEA;

$color-blue-100: #4D92EB;
$color-blue-700: #29246A;